body {
	background-color: black;
}
ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333;
}

li {
	display: inline;
	color: white;
	padding: 4px 25px;
	font-size: larger;
	justify-items: center;
}

li:hover {
	display: block;
	background-color: green;
}
h1 {
	color: white;
}
img {
	padding: 20px;
	margin: 0;
	width: 30em;
	height: 30em;
}
p {
	font-size: larger;
	color: white;
}
